body{
	background: grey;
	
}

.container{
	display: flex;
	width: 90vw;
	margin: auto;
	background-color: white;
}

.details{
}

.info-container{
	display: flex;
}

.img-card{
	width: 100px;
	height: 100px;
	border: 1px solid;
	height: 
}